*, *::before, *::after {
  box-sizing: inherit;
}

body, html, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

button * {
  pointer-events: none;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}