.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000022;
    padding: .4em 1em;
}

.header-logo {
    color: var(--txt-dark);
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.header-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0;

    li {
        a {
            color: black;
            font-size: .9rem;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                color: var(--primary);
            }
        }

        a.sign-up {
            display: block;
            color: var(--txt-light);
            background-color: var(--primary);
            border-radius: var(--br);
            padding: .75em 1.5em;

            &:hover {
                background-color: var(--primary-darker);
            }
        }
    }
}