.section-swatches {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  
    .section-main-swatch {
        display: flex;
        flex-grow: 1;
  
        .swatch-bar {
            color: white;
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 1.2em;
            align-items: center;
            padding: 2em 0;

            .value, .name {
                /* color: var(--txt-light); */
            }

            .value {
                font-size: 1.75rem;
                font-weight: 500;
                letter-spacing: 2px;
            }

            .name {
                opacity: .8;
                font-size: .8rem;
                letter-spacing: .4px;
                font-weight: 300;
            }

            .btn {
                color: inherit;
                background: none;
                font-weight: 300;
                border-radius: var(--br);
                border: none;
                padding: .5em;
                /* color: var(--txt-light); */
                cursor: pointer;
        
                & * {
                    pointer-events: none;
                }
        
                &:hover {
                    background-color: var(--btn-hover);
                }
        
                &:active {
                    background-color: var(--btn-active);
                }
            }
        }
        
        .txt-dark {
            color: black;
        }
    }

    .section-mini-swatches {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        padding: 1em;
  
        .mini-swatch-container {
            justify-self: center;
            display: flex;
            flex-direction: column;
            width: 100%;
        
            .mini-swatch {  
                border-radius: var(--br);
                overflow: hidden;
                display: flex;

                div {
                    height: 100px;
                    width: 20%;
                    pointer-events: none;
                }

                
            }

            &:hover p {
                background-color: var(--btn-hover);
            }

            &:active p {
                background-color: var(--btn-active);
            }
            

            p {
                align-self: center;
                text-align: center;
                font-size: .7rem;
                border-radius: var(--br);
                padding: .3em .5em;
                margin-top: .5rem;
            }

            & * {
                pointer-events: none;
            }
        }
    } 
  
}